@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Righteous&family=Space+Grotesk:wght@300..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');


/*
    #FABD43 - Orange Yellow
    #C8D9CD - Gray
    #42FFFF - Cyan
    #66EA92 - Bright Green
    #24529E - Dark Blue
*/

body
{
    background-image: url('images/Background_Four.png');
}

nav.navbar, nav.nav
{
    border: 1px solid rgb(245, 245, 245, 0.2); 
    height: 55px;
    background-color: rgb(245, 245, 245, 0.2);
    padding-right: 15px;
}

ul.navbar-nav a, ul.navbar-nav button
{
    text-decoration: none;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    padding: 20px;
    cursor: pointer;
    margin: 0px 10px;
    color: white !important;
    transition: 0.5s;
}

.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: rgb(66, 255, 255, 0.6) !important;
}

.navbar-default .navbar-toggle 
{
    border-color: transparent;
    color: #fff !important;
}

ul.navbar-nav button
{
    border-radius: 5px;
    padding: 5px 20px;
    background-color: rgb(250, 189, 67, 0.5);
    border: 2px solid rgb(250, 189, 67, 0.5);
    margin-left: 10px;
    margin-top: 8px;
    transition: 0.5s;
}

ul.navbar-nav button:hover
{
    border-radius: 5px;
    padding: 5px 20px;
    border: 2px solid rgb(250, 189, 67, 0.9);
    background-color: rgb(250, 189, 67, 0.9);
    color: rgb(0, 0, 0, 0.9);
}

img.logo
{
    height: 50px;
    padding-left: 5px;
    cursor: pointer;
    margin-top: -13px;
}

div.section-one
{
    position: relative;
    background: url("images/Milky_Way.png") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255, 0.8);
    z-index: 1;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
    margin: 20px;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 82, 158, 0.7); /* dark overlay w/ 80% opacity */
    opacity: 0; /* start invisible */
    z-index: 2;
    animation: fadeOverlay 2s ease-in forwards;
}

div.section-one h1
{
    font-family: "Righteous", sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 120px;
    padding-bottom: 100px;
}

div.section-one h2
{
    letter-spacing: 5px;
    font-size:60px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    padding-bottom: 40px;
}

.image-text {
    background: url("images/Milky_Way.png") no-repeat center center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Start outline invisible */
    -webkit-text-stroke: 0.25px rgba(255, 255, 255, 0);
    font-weight: bold;
    animation: outlineFade 2.5s ease-in forwards;
    animation-delay: 2s; /* wait until background finishes fading */
}

div.section-one button
{
    text-decoration: none;
    color: rgb(245, 245, 245, 0.8);
    border: 3px solid rgb(245, 245, 245, 0.8);
    background-color: transparent;
    padding: 25px 40px;
    border-radius: 15px;
    font-size: 27px;
    cursor: pointer;
    transition: 1s;
    letter-spacing: 2px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

div.section-one button:hover
{
    border: 3px solid rgb(66, 255, 255, 0.5);
    background-color: rgb(66, 255, 255, 0.5);
}

.section-one h1, 
.section-one h2, 
.section-one button {
    position: relative;
    z-index: 3;
}

p.citation {
    font-size: 12px;
    margin-top: -20px;
    text-align: right;
    margin-right: 30px;
    font-family: "Space Grotesk", sans-serif;
}

div.section-two
{
    text-align: center;
    color: #022B74;
    padding: 100px 50px 100px 50px;
    font-size: 30px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(245, 245, 245, 0.8);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 23px;
}

div.section-two h2
{
    font-size: 50px;
    padding-bottom: 30px;
}

div.section-two h3
{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.section-two div.main-box
{
    padding: 50px 80px;
}

div.section-two div.side-box
{
    border: 2px solid #66EA92;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(102, 234, 146, 0.5);
    margin-top: 70px;
    margin-bottom: 70px;
}

.carousel-control.right, .carousel-control.left 
{
    background-image: none;
    background-color: transparent;
    color: #c8d9cd;
}

.carousel-indicators li 
{
    border-color: #24529E;
}

.carousel-indicators li.active 
{
    background-color: #c8d9cd;
}

.slide 
{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

#myCarousel .item img 
{
    max-width: 100%;
    height: 400px;
    margin: auto;
}

div.section-three
{
    color: #022B74;
    padding: 100px 50px 100px 50px;
    font-size: 30px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(200, 217, 205, 0.8);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 23px;
}

div.section-three h2
{
    font-size: 50px;
    padding-bottom: 30px;
}

div.section-three h3
{
    font-size: 35px;
    padding-bottom: 15px;
}

div.section-three h3 span.per-month
{
    font-size: 20px;
    font-weight: 400;
}

div.section-four
{
    color: #022B74;
    padding: 100px 50px 100px 50px;
    font-size: 30px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(245, 245, 245, 0.8);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 23px;
}

div.section-four h2
{
    font-size: 50px;
    padding-bottom: 30px;
}

div.section-four h3
{
    font-size: 35px;
    padding-bottom: 25px;
}

div.section-four div.side-box
{
    border: 2px solid #FABD43;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(250, 189, 67, 0.5);
    margin: 0px 40px;
}

div.section-four p.question
{
    margin-left: 15px;
}

div.section-four p.answer
{
    margin-left: 25px;
}


footer
{
    border: 1px solid rgb(245, 245, 245, 0.2); 
    background-color: rgb(245, 245, 245, 0.2); 
    text-align: center;
    font-size: 12px;
    color: #F5F5F5;
    padding: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}



/*Animations*/
@keyframes fadeOverlay {
    from { opacity: 0; }
    to   { opacity: 1;}
} 

@keyframes outlineFade {
    from { -webkit-text-stroke: 0.25px rgba(255, 255, 255, 0); }
    to   { -webkit-text-stroke: 0.25px rgba(255, 255, 255, 1); }
}

@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}

@keyframes slideOverlay {
    0%   { left: -100%; }
    100%  { left: 0; }
    100% { left: 100%; }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 95%;
      margin-bottom: 35px;
    }
    #myCarousel .item img 
    {
        height: auto;
    }
    div.section-one h1
    {
        font-size: 80px;
    }
    div.section-one h2
    {
        font-size: 40px;
    }
    div.section-one button
    {
        font-size: 25px;
    }
    div.section-two div.main-box
    {
        padding: 25px 40px;
    }

    div.section-two div.side-box
    {
        padding: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 480px) {
    div.section-one h1
    {
        font-size: 70px;
    }
    div.section-one h2
    {
        font-size: 30px;
    }
    div.section-one button
    {
        font-size: 25px;
    }
}